
/***********************
	DARK	#0F0F0F
	LIGHT	#E0E0E0
    LIGHTER #F0F0F0
	RED	    #AF0F0F
    RED2    #D82E3B
***********************/

html{	
	background-color: #E0E0E0;
	font-family: "Century Gothic", "sans-serif";
	font-weight: normal;
	font-size: 20px;
	color: #0F0F0F;
    height:99%;
    width:101%;
    overflow: hidden;
}
body{
    margin: 0px;
    padding: 5% 1% 1% 2%;
    top: 0px;
    height:96%;
    width:98%;
    overflow: scroll;
}

h1{
	color: #AF0F0F;
	font-size: 32px;
	font-weight: 600;
    margin-top: 0px;
    text-shadow: 1px 1px 1px #000;
}
h2{
    color: #AF0F0F;
	font-size: 20px;
	font-weight: 600;
    margin-bottom: 0px;
    padding: 0px;
}
h3{
    color: #0F0F0F;
	font-size: 20px;
	font-weight: 600;
    font-style: oblique;
    margin: 0px;
    padding: 0px;
}
p{
    color: #0F0F0F;
	font-size: 20px;
	font-weight: 400;
    margin-top: 0px;
    padding: 0px;
}

td{
    margin: 0px;
    padding: 0px;
    padding-left: 4px;
    padding-right: 4px;
    width: 50%;
}